:root {
  --container-paddding: 20px;
  --input-padding-vertical: 6px;
  --input-padding-horizontal: 4px;
  --input-margin-vertical: 4px;
  --input-margin-horizontal: 0;
}

body {
  padding: 0 var(--container-paddding);
  color: var(--vscode-foreground);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  font-family: var(--vscode-font-family);
}

ol,
ul {
  padding-left: var(--container-paddding);
}

body > *,
form > * {
  margin-block-start: var(--input-margin-vertical);
  margin-block-end: var(--input-margin-vertical);
}

*:focus {
  outline-color: var(--vscode-focusBorder) !important;
}

a {
  color: var(--vscode-textLink-foreground);
}

a:hover,
a:active {
  color: var(--vscode-textLink-activeForeground);
}

code {
  font-size: var(--vscode-editor-font-size);
  font-family: var(--vscode-editor-font-family);
}

h3 {
  margin-bottom: 8px;
}

button {
  border: none;
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  width: 100%;
  text-align: center;
  outline: 1px solid transparent;
  outline-offset: 2px !important;
  color: var(--vscode-button-foreground);
  background: var(--vscode-button-background);
}

button:hover {
  cursor: pointer;
  background: var(--vscode-button-hoverBackground);
}

button:focus {
  outline-color: var(--vscode-focusBorder);
}

button.secondary {
  color: var(--vscode-button-secondaryForeground);
  background: var(--vscode-button-secondaryBackground);
}

button.secondary:hover {
  background: var(--vscode-button-secondaryHoverBackground);
}

input:not([type="checkbox"]),
textarea {
  display: block;
  width: 100%;
  border: none;
  font-family: var(--vscode-font-family);
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  color: var(--vscode-input-foreground);
  outline-color: var(--vscode-input-border);
  background-color: var(--vscode-input-background);
}

input::placeholder,
textarea::placeholder {
  color: var(--vscode-input-placeholderForeground);
}

.hiddenCheck {
  display: none;
}

#btnControl1:checked + #lable1 > #create {
  height: 350px;
  border: 1px solid #0078d7;
  transition: all 0.1s ease;
}

#btnControl2:checked + #lable2 > #list {
  height: 200px;
  border: 1px solid #0078d7;
  transition: all 0.1s ease;
}
#btnControl3:checked + #lable3 > #process {
  height: 200px;
  border: 1px solid #0078d7;
  transition: all 0.1s ease;
}
#btnControl4:checked + #lable4 > #check {
  height: 200px;
  border: 1px solid #0078d7;
  transition: all 0.1s ease;
}
#btnControl5:checked + #lable5 > #help {
  height: 200px;
  border: 1px solid #0078d7;
  transition: all 0.1s ease;
}

#create_container {
  position: relative;
  top: 2px;
  width: 80%;
  margin: 10px;
}

#list_container {
  position: relative;
  top: 50px;
  width: 80%;
  margin: 10px;
}

#process_container {
  position: relative;
  top: 50px;
  width: 80%;
  margin: 10px;
}

#check_container {
  position: relative;
  top: 50px;
  width: 80%;
  margin: 10px;
}

#help_container {
  position: relative;
  top: 50px;
  width: 80%;
  margin: 10px;
}

.answer_list {
  position: relative;
  top: 50px;
  width: 80%;
  margin: 10px;
}

img {
  bottom: 15px;
  position: relative;
  width: 13px;
  height: 6px;
}
.item {
  height: 45px;
  margin-left: 10px;
  margin: 0;
  border: 1px solid #3e3e3e;
  border-radius: 2px;
  padding: 6px;
  width: 100%;
  display: inline-block;
  border-bottom-style: hidden;
}
.downArrow {
  position: relative;
  top: 6px;
  left: 2px;
  width: 15px;
  height: 8px;
}

#row {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

#help {
  margin: 0;
  border: 1px solid #3e3e3e;
  border-radius: 2px;
  padding: 6px;
  width: 100%;
  display: inline-block;
}

.title {
  top: 5px;
  position: relative;
  left: 23px;
}

#btnControl {
  display: none;
}

.create_button {
  margin-top: 12px;
  margin-bottom: 10px;
}

#btnControl:checked + label > img {
  width: 50%;
  height: 50%;
  z-index: 1;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
